@use '../../../styles/' as global;

.search-input {
  background-color: transparent;
  border: 0;
  flex-grow: 1;
  padding: 0.5rem 1rem;
  font-size: global.$fz-18;

  &:focus {
    outline: 0;
  }
}
